<p>buscar works!</p>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div *ngFor="let det of detalle; let i=index" class="card">
                <img src="{{ det.image }}" class="card-img-top" alt="{{ det.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ det.nombre }}</h5>
                    <p class="card-text">{{ det.description }}</p>
                </div>
                <div class="px-3 my-2">
                    <a (click)="verRopas(i)" type="submit" class=" col btn btn-outline-primary">Ver más ...</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">{{ det.fecha }}</small>
                </div>
            </div>
        </div>
    </div>
</div>
